* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* Main heading */
.main-heading {
  text-align: center;
  padding: 17px 0;
}
.main-heading h1 {
  border: 5px dotted black;
  border-radius: 15px;
  display: inline-block;
  padding: 10px 20px;
}
.card {
  background-color: rgb(13, 13, 231);
  margin: 20px 30px;
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 380px;
  min-height: 600px;
}

.card-div {
  width: 100%;
}
.card-div img {
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.card-content {
  padding: 15px 30px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}
.buttons button {
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background: white;
}
.span_showmore_showless {
  cursor: pointer;
  color: rgb(247, 45, 72);
  font-size: 17px;
}

.tour-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  height: 100vh;
  gap: 16px;
}
.tour-div button {
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background: purple;
  color: white;
}
